.postShorten-thumbnailimg {
    display: none;
    /* dont display the image */
}

.about-block {
   
}
#about #about-card {
    /* the about page styles  */
    max-width: 900px !important;
    /* margin: 0 !important; */
    /* will add the images here */

}
.more-info {
    padding: 2em;
}
.my-div {
    height: 500px;
}

/* .postShorten, .postShorten--thumbnailimg-top {
    
}

.postShorten-group .postShorten {
    
}

.postShorten-wrap{
    border: 1px solid #000 !important;
    padding: 20px !important;
    text-align: center !important;
} */