<div id="about">
  <div id="about-card" class="about-block">
    <div id="about-btn-close">
      <i class="fa fa-remove"></i>
    </div>
    {{ with ($.Scratch.Get "authorPicture") }}
      <img id="about-card-picture" src="/images/uploads/icon-image.jpg" alt="{{ i18n "global.author_picture" }}" />
    {{ end }}
    <h4 id="about-card-name">{{ .Site.Author.name }}</h4>
    {{ with .Site.Author.bio }}
      <div id="about-card-bio">{{ . | markdownify }}</div>
    {{ end }}
    {{ with .Site.Author.job }}
      <div id="about-card-job">
        <i class="fa fa-briefcase"></i>
        <br/>
        {{ . | markdownify }}
      </div>
    {{ end }}
    {{ with .Site.Author.location }}
      <div id="about-card-location">
        <i class="fa fa-map-marker"></i>
        <br/>
        {{ . }}
      </div>
    {{ end }}
    <div class="more-info">
      <h3 class="about-me">Who am I</h3>
      <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nulla obcaecati quisquam animi, aperiam facere esse consectetur? Blanditiis nesciunt quaerat, itaque a tenetur nisi repellat non hic aut officiis impedit necessita?</p>

      <!-- animation -->
      <div class="my-div">
        <h2>Images will go here</h2>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/107/three.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
