<div id="about">
  <div id="about-card" class="about-block">
    <div id="about-btn-close">
      <i class="fa fa-remove"></i>
    </div>
    {{ with ($.Scratch.Get "authorPicture") }}
      <img id="about-card-picture" src="/images/uploads/icon-image.jpg" alt="{{ i18n "global.author_picture" }}" />
    {{ end }}
    <h4 id="about-card-name">{{ .Site.Author.name }}</h4>
    {{ with .Site.Author.bio }}
      <div id="about-card-bio">{{ . | markdownify }}</div>
    {{ end }}
    {{ with .Site.Author.job }}
      <div id="about-card-job">
        <i class="fa fa-briefcase"></i>
        <br/>
        {{ . | markdownify }}
      </div>
    {{ end }}
    {{ with .Site.Author.location }}
      <div id="about-card-location">
        <i class="fa fa-map-marker"></i>
        <br/>
        {{ . }}
      </div>
    {{ end }}
    <div class="more-info">
      <h3 class="about-me">Who am I</h3>
      <p class="about-text">I am a young woman born on the 10th of June 1999. I grew up in Cape Town, South Africa but am a proud congolese. I'm all about all things make up, fashion and poetry. Hope this blog will give you guys a little sneak peak into my favourites?</p>

      <!-- animation -->
      <!-- <div class="my-div">
        <h2>Images will go here</h2>
      </div> -->
    </div>
  </div>
</div>

