<header id="header" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
  <i id="btn-open-sidebar" class="fa fa-lg fa-bars"></i>
  <div class="header-title">
    <a class="header-title-link" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
  </div>
  {{ with .Site.Params.header.rightLink }}
    {{ if and (in .url ":") (not (in .url (printf "%s" $.Site.BaseURL))) }}
      <a class="{{ if .icon }}header-right-icon {{ else }}header-right-picture {{ end }}{{ with .class }}{{ . }}{{ end }}"
         href="{{ .url | safeURL }}" target="_blank" rel="noopener">
    {{ else if .url }}
      <a class="{{ if .icon }}header-right-icon {{ else }}header-right-picture {{ end }}{{ with .class }}{{ . }}{{ end }}"
         href="{{ .url | safeURL }}">
    {{ end }}
    {{ if .icon }}
      <i class="fa fa-lg fa-{{ .icon }}"></i>
    {{ end }}
    {{ if not $.Site.Params.header.rightLink.icon }}
      {{ with ($.Scratch.Get "authorPicture") }}
        <img class="header-picture" src="https://scontent.fcpt7-1.fna.fbcdn.net/v/t1.0-9/62070093_2370651593204374_5401713783301210112_n.jpg?_nc_cat=111&_nc_oc=AQn2GpnyYZOrTg7RtMtreCg5VJorz7gia4doT1Mejz04q2SxFLdv27flu-UGZT5Ypmc&_nc_ht=scontent.fcpt7-1.fna&oh=e1bf6398b0ba27362be1ca3e5474c131&oe=5DE10295" alt="{{ i18n "global.author_picture" }}" />
      {{ end }}
    {{ end }}
    </a>
  {{ end }}
</header>
